* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
:root {
   --main-color:#10cab7;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: "Work Sans", sans-serif;
}
/*responsive */
/* small*/
@media (min-width:768px) {
    .container {
        width:750px;
    }
}
/*medium*/
@media (min-width:992px) {
    .container {
        width:970px;
    }
}
/* large*/
@media (min-width:1200px) {
    .container {
        width:1170px;
    }
}

.logo {
    display: flex;
    justify-content: flex-start;
    background-color: white;
}
.logo:before {
  width: 6px;
  height:10px;
  border-left: 5px solid #333;
}
.logo:after {
    width:20px;
    height:20px;
    border-radius: 50%;
    border-color: var(--main-color);
}
.nav {
  display: flex;
  justify-content: flex-end;
}

.one ,
.three {
 border-bottom:  6px solid var(--main-color);
  
}
.box {
    background-color: #eee;
    position: relative;
    

}

.box:after {
    content: "";
    position: absolute;
    border: 45px solid;
    border-color: transparent;
    border-bottom-color: #eee;
    top: -12%;
    left: 75%;
    transform: translate(-50%,-50%);
}
a:link {
    text-decoration: none;
    color:#333;
}
a:visited {
    color:#333;
}

.list  li:hover  {
    transform: translateX(30px);
    transition: ease-in;
}



.list {
 list-style-type: none;
 font-size:2rem;
}
.list li {
    border-bottom:6px solid #979797;
}
.landing {
    max-width: 158rem;
    min-height: 98rem;
    position: relative;
    opacity: 0.5;
    background-image: url(./images/mountain.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
}
.intro-text {
    margin: auto;
   position:absolute;
   line-height:3rem;
   top:60%;
   left:50%;
   transform:translate(-50%,-50%);
}

h1 {
    color:var(--main-color);
    font-size:7rem;
}
p {
    font-size:3rem;
}
h2 {
    font-size:3rem;
    font-weight: bold;
}
.icons {
    max-width: 158rem;
    min-height: 98rem;
    display: grid;
    background-color: #eee;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    gap:8rem 12rem;
}
.icons i{
    color:var(--main-color);
    font-size:4rem;
    padding:1rem ;
    margin:1rem;
}

.par{
    font-size:2rem;
}
#services{
    max-width: 158rem;
    min-height: 98rem;
    display: grid;
    background-color: #ffffff;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    gap:8rem 12rem;
}
h3 {
    font-size: 15rem;
    font-weight: 700;
    color:rgba(235, 236, 237, 0.5);
    text-align:center;
    letter-spacing:-6px;
    margin: 120px;
    padding:6px;
}
.inform {
    font-size: 5rem;
    color:rgba(235, 236, 237);
    line-height:3px;
    text-align:center;
    color:rgba(235, 236, 237, 0.5);
}
.title {
    position:absolute;
    top: 38%;
    left: 47%;
    transform: translate(-47%,417%)
}